# MySQL
데이터를 데이터베이스에 저장한 뒤에, SQL 쿼리를 활용해 출력을 해보겠습니다.
____

## 1. 데이터 불러오기

In [ ]:
import pandas as pd
df = pd.read_csv("movie_doc.csv",sep="\t")
df.head()

## 2. MySQL을 활용한 데이터 저장

In [ ]:
import mysql.connector

### 2-1. Database 생성

In [ ]:

HOST = "localhost"
USER = "root"
PASSWORD = "123456789"
mydb = mysql.connector.connect(
  host=HOST,
  user=USER,
  password=PASSWORD
)

mycursor = mydb.cursor()

# mycursor.execute("DROP DATABASE movie_db")
try:
    mycursor.execute("CREATE DATABASE movie_db default character set utf8 collate utf8_general_ci;")
except:
    pass

### 2-2. Table 생성

In [ ]:
mydb = mysql.connector.connect(
  host=HOST,
  user=USER,
  password=PASSWORD,
  database="movie_db"
)

mycursor = mydb.cursor()
try:
    mycursor.execute("DROP TABLE movie;")
except:
    pass
mycursor.execute("""
                    CREATE TABLE movie 
                    (id VARCHAR(255) UNIQUE, story TEXT, title VARCHAR(255), link VARCHAR(255), image VARCHAR(255))"""
                )

In [ ]:
for row_dict in df.to_dict(orient="records"):
    print(row_dict)
    break

### 2-3. Row 삽입

In [ ]:
for row_dict in df.to_dict(orient="records"):
    print(row_dict)
    movie_id = str(row_dict['id'])
    title = row_dict['title']
    story = row_dict['story']
    link = row_dict['link']
    image = row_dict['image']

    sql = "INSERT INTO movie (id, story, title, link, image) VALUES (%s, %s, %s, %s, %s)"
    val = (movie_id, story, title, link, image)
    mycursor.execute(sql, val)

mydb.commit()

### 2-4. 삽입된 Row 출력

In [ ]:
sql = "SELECT * FROM movie"
mycursor = mydb.cursor(dictionary=True)
mycursor.execute(sql)


myresult = mycursor.fetchall()
for x in myresult:
    print(x)

In [ ]:
keyword = "암살"
sql = "SELECT * FROM movie WHERE story LIKE '%{}%'".format(keyword)

mycursor = mydb.cursor(dictionary=True)
mycursor.execute(sql)


myresult = mycursor.fetchall()
for x in myresult:
    print(x)

### Q.여러키워드를 포함시키려면?

In [ ]:
#TODO

## 5. Connection 끊어주기

In [ ]:
mycursor.close()
mydb.close()